{{!-- <section class="products_comp">
    <LinkTo @route="cart"><i class="fa fa-shopping-cart" ></i><p>length of cart: {{this.lengthOfCart}}</p></LinkTo>
     

      
</section> --}}

<!-- app/components/product.hbs -->
<section class="products_comp">
    <LinkTo @route="cart"><i class="fa fa-shopping-cart"></i><p>Length of cart: {{this.lengthOfCart}}</p></LinkTo>
</section>
