<section class="products_comp">
    <LinkTo @route="cart"><i class="fa fa-shopping-cart" ></i></LinkTo>
       <LinkTo @route="index"><button class="back-button" type="button">Back</button></LinkTo>
</section>