<section>
    <h4>Thanks for purchase! you can track the product by using below tracking id</h4>
    <p>Tracking id: {{this.trackig_no}}</p>

<LinkTo @route="products"><button  class="button btn-primary">Home</button></LinkTo>

</section>